In [23]:
import pandas as pd

In [24]:
df=pd.read_csv('yellow_tripdata_2023-01.csv')

/tmp/ipykernel_24442/3074418731.py:1: DtypeWarning: Columns (0,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('yellow_tripdata_2023-01.csv')

In [25]:
df.sample(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
2980768,2,2023-01-31 20:52:40,2023-01-31 21:03:34,5.0,1.59,1.0,N,170,246,1,12.1,1.0,0.5,4.28,0.0,1.0,21.38,2.5,0.0
2925025,2,2023-01-31 11:13:50,2023-01-31 11:24:55,1.0,1.09,1.0,N,68,107,2,11.4,0.0,0.5,0.0,0.0,1.0,15.4,2.5,0.0
2214020,2,2023-01-24 10:50:02,2023-01-24 11:06:13,1.0,5.39,1.0,N,234,13,1,25.4,0.0,0.5,2.0,0.0,1.0,31.4,2.5,0.0
898609,2,2023-01-11 09:22:35,2023-01-11 09:52:51,1.0,6.89,1.0,N,142,209,1,35.2,0.0,0.5,7.84,0.0,1.0,47.04,2.5,0.0
1156577,1,2023-01-13 17:28:45,2023-01-13 18:01:42,1.0,10.6,1.0,N,138,161,2,43.6,10.0,0.5,0.0,6.55,1.0,61.65,2.5,0.0
598791,2,2023-01-07 20:15:55,2023-01-07 20:35:05,1.0,7.52,1.0,N,132,82,2,30.3,1.0,0.5,0.0,0.0,1.0,34.05,0.0,1.25
426769,2,2023-01-06 08:53:55,2023-01-06 09:09:35,1.0,2.33,1.0,N,239,140,1,16.3,0.0,0.5,5.08,0.0,1.0,25.38,2.5,0.0
2443556,2,2023-01-26 14:09:29,2023-01-26 14:12:14,1.0,0.66,1.0,N,141,140,1,5.1,0.0,0.5,1.82,0.0,1.0,10.92,2.5,0.0
2154450,2,2023-01-23 16:12:58,2023-01-23 16:21:56,1.0,1.94,1.0,N,249,87,1,11.4,2.5,0.5,4.47,0.0,1.0,22.37,2.5,0.0
2520975,2,2023-01-27 07:52:33,2023-01-27 07:59:32,1.0,1.07,1.0,N,261,211,1,8.6,0.0,0.5,2.52,0.0,1.0,15.12,2.5,0.0

In [29]:
#total number of rows and column (3066812, 19)

df.shape

(3066766, 19)

In [5]:
#Check null value in PULocationID and DOLocationID column
check_null_value_in_pulocationid=df['PULocationID'].isnull().sum()
check_null_value_in_dolocationid=df['DOLocationID'].isnull().sum()
print("Total null value in PULocationID", check_null_value_in_pulocationid)
print("Total null value in DOLocationID", check_null_value_in_dolocationid)

Total null value in PULocationID 0
Total null value in DOLocationID 0

In [6]:
#Check distinct value in PULocationID and DOLocationID column
print(df['passenger_count'].isnull().sum())

71743

In [7]:
#Check the data types of all present column in df dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066812 entries, 0 to 3066811
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               object
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        object
 4   trip_distance          object
 5   RatecodeID             object
 6   store_and_fwd_flag     object
 7   PULocationID           object
 8   DOLocationID           object
 9   payment_type           object
 10  fare_amount            object
 11  extra                  object
 12  mta_tax                object
 13  tip_amount             object
 14  tolls_amount           object
 15  improvement_surcharge  object
 16  total_amount           object
 17  congestion_surcharge   object
 18  airport_fee            object
dtypes: object(19)
memory usage: 444.6+ MB

In [20]:
#convert all the column in proper data type
#df['VendorID']=pd.to_numeric(df['VendorID'],downcast='integer')
print(df['VendorID'].unique())

[2 1]

In [21]:
distinct_count = len(df['VendorID'].unique())
print("Count of distinct values in 'VendorID' column:", distinct_count)

Count of distinct values in 'VendorID' column: 2

In [10]:
df1=pd.read_csv('taxi+_zone_lookup.csv')

In [11]:
df1.sample(2)

     LocationID Borough           Zone service_zone
9            10  Queens   Baisley Park    Boro Zone
198         199   Bronx  Rikers Island    Boro Zone

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [27]:
df = df[df['tpep_dropoff_datetime'] != 'tpep_dropoff_datetime']

In [28]:
df['VendorID']=pd.to_numeric(df['VendorID'],downcast='integer')
df['tpep_pickup_datetime']=pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime']=pd.to_datetime(df['tpep_dropoff_datetime'])
df['passenger_count']=pd.to_numeric(df['passenger_count'],downcast='integer')

In [ ]:
df['trip_distance']=pd.to_datetime(df['trip_distance'])
df['RatecodeID']=pd.to_datetime(df['RatecodeID'])
df['store_and_fwd_flag']=pd.to_datetime(df['store_and_fwd_flag'])
df['PULocationID']=pd.to_datetime(df['PULocationID'])
df['DOLocationID']=pd.to_datetime(df['DOLocationID'])
df['payment_type']=pd.to_datetime(df['payment_type'])
df['fare_amount']=pd.to_datetime(df['fare_amount'])
df['extra']=pd.to_datetime(df['extra'])
df['mta_tax']=pd.to_datetime(df['mta_tax'])
df['tip_amount']=pd.to_datetime(df['tip_amount'])
df['tolls_amount']=pd.to_datetime(df['tolls_amount'])
df['improvement_surcharge']=pd.to_datetime(df['improvement_surcharge'])
df['total_amount']=pd.to_datetime(df['total_amount'])
df['congestion_surcharge']=pd.to_datetime(df['congestion_surcharge'])
df['airport_fee']=pd.to_datetime(df['airport_fee'])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3066766 entries, 0 to 3066811
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int8
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          object
 5   RatecodeID             object
 6   store_and_fwd_flag     object
 7   PULocationID           object
 8   DOLocationID           object
 9   payment_type           object
 10  fare_amount            object
 11  extra                  object
 12  mta_tax                object
 13  tip_amount             object
 14  tolls_amount           object
 15  improvement_surcharge  object
 16  total_amount           object
 17  congestion_surcharge   object
 18  airport_fee            object
dtypes: datetime64[ns](2), float64(1), int8(1), object(15)
memory usage: 447.5+ MB

Load both file in postgreSQL datbase for data cleaning

In [70]:
# import psycopg2

# try:
#     #Establishing the connection
#     conn=psycopg2.connect(
#     database="postgres", user='postgres', password='password', host='127.0.0.1', port='5432')
    
#     #Creating a cursor object using the cursor() method
#     cursor = conn.cursor()
    
#     # Executing a PostgreSQL function using the execute() method
#     cursor.execute('''create table yellow_tripdata_2023_01(id SERIAL PRIMARY key,
#                             VendorID text, 
#                             tpep_pickup_datetime text,
#                             tpep_dropoff_datetime text,
#                             passenger_count text,
#                             trip_distance text,
#                             RatecodeID text,
#                             store_and_fwd_flag text,
#                             PULocationID text,
#                             DOLocationID text,
#                             payment_type text,
#                             fare_amount text,
#                             extra text,
#                             mta_tax text,
#                             tip_amount text,
#                             tolls_amount text,
#                             improvement_surcharge text,
#                             total_amount text,
#                             congestion_surcharge text,
#                             airport_fee text);''')
#     conn.commit()
#     print("yellow_tripdata_2023_01 has been created successfully")

# except(Exception, psycopg2.Error):
#     print("Error while connecting to PostgreSQL", error)

# finally:
#     #Closing the connection
#     if conn:
#         cursor.close()
#         conn.close()
#         print("PostgreSQL connection is closed")

yellow_tripdata_2023_01 has been created successfully
PostgreSQL connection is closed

In [12]:
df_test = pd.read_csv('yellow_tripdata_2023-01.csv', skiprows=1)

/tmp/ipykernel_17998/4041931336.py:1: DtypeWarning: Columns (0,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test = pd.read_csv('yellow_tripdata_2023-01.csv', skiprows=1)

In [13]:
df_test.sample(4)

,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0.1,N,161,141,2.1,9.3,1.0.2,0.5,0.0,0.0.1,1.0.3,14.3,2.5,0.0.2
63888,2,2023-01-01 20:37:14,2023-01-01 20:45:27,1.0,2.21,1.0,N,142,151,1,12.1,1.0,0.5,3.42,0.0,1.0,20.52,2.5,0.0
2105760,2,2023-01-23 05:33:06,2023-01-23 05:38:51,2.0,1.24,1.0,N,186,233,1,8.6,1.0,0.5,2.72,0.0,1.0,16.32,2.5,0.0
2337212,2,2023-01-25 14:57:51,2023-01-25 15:08:43,1.0,2.87,1.0,Y,233,232,1,15.6,0.0,0.5,5.88,0.0,1.0,25.48,2.5,0.0
2468569,2,2023-01-26 17:05:10,2023-01-26 17:57:30,1.0,11.48,1.0,N,142,181,1,57.6,2.5,0.5,10.0,6.55,1.0,80.65,2.5,0.0

In [14]:
for index, row in df.iterrows():
    print(f"Index: {index}")
    print(f"Row data:\n{row}\n")
    break;

Index: 0
Row data:
VendorID                                   2
tpep_pickup_datetime     2023-01-01 00:32:10
tpep_dropoff_datetime    2023-01-01 00:40:36
passenger_count                          1.0
trip_distance                           0.97
RatecodeID                               1.0
store_and_fwd_flag                         N
PULocationID                             161
DOLocationID                             141
payment_type                               2
fare_amount                              9.3
extra                                    1.0
mta_tax                                  0.5
tip_amount                               0.0
tolls_amount                             0.0
improvement_surcharge                    1.0
total_amount                            14.3
congestion_surcharge                     2.5
airport_fee                              0.0
Name: 0, dtype: object

In [72]:
# #Insert all the csv data into tables
# import psycopg2
# import pandas as pd
# from psycopg2 import extras

# try:
#     # Establishing the connection
#     conn = psycopg2.connect(
#         database="postgres", user='postgres', password='password', host='127.0.0.1', port='5432')
    
#     # Creating a cursor object using the cursor() method
#     cursor = conn.cursor()
    
#     # Load CSV file into a DataFrame skipping the header row
#     df = pd.read_csv('yellow_tripdata_2023-01.csv', skiprows=1,low_memory=False)  # Adjust the file path as necessary
    
#     # Insert DataFrame records into PostgreSQL table
#     for index, row in df.iterrows():
#         cursor.execute("""
#             INSERT INTO yellow_tripdata_2023_01 (VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, 
#             trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, 
#             mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee)
#             VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
#         """, tuple(row))

#         # Committing the transaction
#         conn.commit()
#     print("Data inserted successfully")

# except(Exception, psycopg2.Error) as error:
#     print("Error while connecting to PostgreSQL", error)

# finally:
#     # Closing the connection
#     if conn:
#         cursor.close()
#         conn.close()
#         print("PostgreSQL connection is closed")

Table creation and Data insertation at a time.

In [15]:
# import psycopg2
# import pandas as pd
# from psycopg2 import extras

# try:
#     # Establishing the connection
#     conn = psycopg2.connect(
#         database="postgres", user='postgres', password='password', host='127.0.0.1', port='5432')
    
#     # Creating a cursor object using the cursor() method
#     cursor = conn.cursor()
    
#     # Create table if not exists
#     cursor.execute('''CREATE TABLE IF NOT EXISTS yellow_tripdata_2023_01 (
#                             id SERIAL PRIMARY KEY,
#                             VendorID TEXT, 
#                             tpep_pickup_datetime TEXT,
#                             tpep_dropoff_datetime TEXT,
#                             passenger_count TEXT,
#                             trip_distance TEXT,
#                             RatecodeID TEXT,
#                             store_and_fwd_flag TEXT,
#                             PULocationID TEXT,
#                             DOLocationID TEXT,
#                             payment_type TEXT,
#                             fare_amount TEXT,
#                             extra TEXT,
#                             mta_tax TEXT,
#                             tip_amount TEXT,
#                             tolls_amount TEXT,
#                             improvement_surcharge TEXT,
#                             total_amount TEXT,
#                             congestion_surcharge TEXT,
#                             airport_fee TEXT);''')
    
#     # Commit the table creation
#     conn.commit()
#     print("Table 'yellow_tripdata_2023_01' created successfully")
    
#     # Load CSV file into a DataFrame skipping the header row
#     df = pd.read_csv('yellow_tripdata_2023-01.csv', skiprows=1, low_memory=False) 
    
#     # Prepare data as a list of tuples
#     data = [tuple(row) for row in df.itertuples(index=False, name=None)]
    
#     # Construct the INSERT INTO statement
#     insert_query = """
#         INSERT INTO yellow_tripdata_2023_01 (VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, 
#         trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, 
#         mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee)
#         VALUES %s
#     """
    
#     # Execute the INSERT INTO statement using execute_values()
#     extras.execute_values(cursor, insert_query, data, page_size=100000) #page_size is number of rows to be inserted  
    
#     # Committing the transaction
#     conn.commit()
#     print("Data inserted successfully")

# except (Exception, psycopg2.Error) as error:
#     print("Error while connecting to PostgreSQL or inserting data:", error)

# finally:
#     # Closing the connection
#     if conn:
#         cursor.close()
#         conn.close()
#         print("PostgreSQL connection is closed")

Table 'yellow_tripdata_2023_01' created successfully
Data inserted successfully
PostgreSQL connection is closed

In [19]:
import psycopg2
import pandas as pd
from psycopg2 import extras

try:
    # Establishing the connection
    conn = psycopg2.connect(
        database="postgres", user='postgres', password='password', host='127.0.0.1', port='5432')
    
    # Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    
    # Create table yellow_tripdata_2023_01 if not exists
    cursor.execute('''CREATE TABLE IF NOT EXISTS yellow_tripdata_2023_01 (
                            id SERIAL PRIMARY KEY,
                            VendorID TEXT, 
                            tpep_pickup_datetime TEXT,
                            tpep_dropoff_datetime TEXT,
                            passenger_count TEXT,
                            trip_distance TEXT,
                            RatecodeID TEXT,
                            store_and_fwd_flag TEXT,
                            PULocationID TEXT,
                            DOLocationID TEXT,
                            payment_type TEXT,
                            fare_amount TEXT,
                            extra TEXT,
                            mta_tax TEXT,
                            tip_amount TEXT,
                            tolls_amount TEXT,
                            improvement_surcharge TEXT,
                            total_amount TEXT,
                            congestion_surcharge TEXT,
                            airport_fee TEXT);''')
    
    # Commit the table creation
    conn.commit()
    print("Table 'yellow_tripdata_2023_01' created successfully")
    
    # Load CSV file into a DataFrame skipping the header row
    df = pd.read_csv('yellow_tripdata_2023-01.csv', low_memory=False) 
    
    # Prepare data as a list of tuples
    data = [tuple(row) for row in df.itertuples(index=False, name=None)]
    
    # Construct the INSERT INTO statement
    insert_query = """
        INSERT INTO yellow_tripdata_2023_01 (VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, 
        trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, 
        mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee)
        VALUES %s
    """
    
    # Execute the INSERT INTO statement using execute_values()
    extras.execute_values(cursor, insert_query, data, page_size=100000) #page_size is number of rows to be inserted  
    
    # Committing the transaction
    conn.commit()
    print("Data inserted successfully in yellow_tripdata_2023_01 table")
    
    
    # Create table taxi_zone_lookup if not exists
    cursor.execute('''create table taxi_zone_lookup(LocationID int PRIMARY KEY, 
                                                    Borough text,
                                                    Zone text,
                                                    service_zone text);''')
    

    # Commit the table creation
    conn.commit()
    
    print("Table 'taxi_zone_lookup' created successfully")

    # Load CSV file into a DataFrame skipping the header row
    zone_df = pd.read_csv('taxi+_zone_lookup.csv', low_memory=False) 
    
    # Prepare data as a list of tuples
    zone_data = [tuple(row) for row in zone_df.itertuples(index=False, name=None)]
    
    # Construct the INSERT INTO statement
    zone_insert_query = """
        INSERT INTO taxi_zone_lookup (LocationID, Borough, Zone, service_zone)
        VALUES %s
    """
    
    # Execute the INSERT INTO statement using execute_values()
    extras.execute_values(cursor, zone_insert_query, zone_data, page_size=1000) #page_size is number of rows to be inserted  
    
    # Committing the transaction
    conn.commit()
    print("Data inserted successfully in taxi_zone_lookup table")

except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL or inserting data:", error)

finally:
    # Closing the connection
    if conn:
        cursor.close()
        conn.close()
        print("PostgreSQL connection is closed")

Table 'yellow_tripdata_2023_01' created successfully
Data inserted successfully in yellow_tripdata_2023_01 table
Table 'taxi_zone_lookup' created successfully
Data inserted successfully in taxi_zone_lookup table
PostgreSQL connection is closed